* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3,0,31);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.Sidebar {
  flex: 2;
  border-right: 1px solid rgb(100,100,100);
}

.Main {
  flex: 9;
}

.logo {
  margin-right: 1rem;
  height: 8rem;
}

.brand {
  font-size: 3rem;
}

.upperSidebar {
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100,100,100);
  height: 70%;
}

.upperSidebarTop {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tagline {
  margin-left: 4.5rem;
  font-size: 1.5rem;
  color: rgba(200,200,200,1);
}

.midBtn {
  width: 25rem;
  background-color: #579ad8;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 8rem;
  border-radius: 0.5rem;
}

.addBtn {
  height: 2rem;
  padding-right: 1rem;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222,222,222,1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98,98,98,1);
}

.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSidebar {
  padding: 2rem;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.listItemsImg {
  margin: 1rem;
  padding-right: 1rem;
}

.listItems:nth-child(1)>.listItemsImg {
  margin-right: 0.50rem;
}

.listItems:nth-child(3)>.listItemsImg {
  margin-right: 0.75rem;
}